<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.WtDao">

    <resultMap type="com.jk.pojo.Member" id="member">
        <id column="memberid" property="memberid"/>
        <result column="membernum" property="membernum"></result>
        <result column="membername" property="membername"></result>
        <result column="memberdj" property="memberdj"></result>
        <result column="memberjf" property="memberjf"></result>
        <result column="memberflag" property="memberflag"></result>
        <result column="memberdate" property="memberdate"></result>
        <result column="membersex" property="membersex"></result>
        <result column="memberphone" property="memberphone"></result>
        <result column="memberidcard" property="memberidcard"></result>
    </resultMap>

    <select id="queryMember" resultMap="member">
        select * from t_member m where 1=1
        limit  #{begin},#{end}
    </select>

    <select id="queryMemberAll" resultMap="member">
        select * from t_member m  where 1=1
    </select>
    <delete id="delMember" >
        delete from t_member where memberid in (${ids})
    </delete>
    <select id="getMemberById" resultType="com.jk.pojo.Member"  parameterType="Integer">
        select * from t_member where memberid = #{id}
    </select>
    <insert id="addMember" parameterType="com.jk.pojo.Member">
        insert into t_member(membernum,membername,memberdj,memberjf,memberflag,memberdate,membersex,memberphone,memberidcard) values(
        #{membernum},
        #{membername},
        #{memberdj},
        #{memberjf},
        #{memberflag},
        #{memberdate},
        #{membersex},
        #{memberphone},
        #{memberidcard})
    </insert>
    <update id="modifyMember" parameterType="com.jk.pojo.Member">
        update t_member
        set membernum = #{membernum},
        membername= #{membername},
        memberdj =#{memberdj},
        memberjf=#{memberjf},
        memberflag=#{memberflag},
        memberdate =#{memberdate},
        membersex =#{membersex},
        memberphone =#{memberphone},
        memberidcard =#{memberidcard}
        where memberid = #{memberid}
    </update>
</mapper>